.*
!.gitignore
!.github
!.dockerignore
!.docker-nix

[o]utput
output-es
generated-docs
node_modules

package-lock.json
*.lock

openapitools.json

src/core/BCorrespondent/Api/Foreign/Back
src/lib/BCorrespondent/Web/Bowser

app/*.js

api*.json

!/src/core/Data/Output
